[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# python-sat = "0.1.7.dev11"
python-sat = "*"
matplotlib = "*"
sympy = "*"
dataclasses-json = "*"
joblib = "*"
pandas = "*"

[dev-packages]
black = "*"

[requires]
python_version = ">=3.8"

[pipenv]
allow_prereleases = true
